@import "tailwindcss";

@theme {
  --color-b1: #F9D849;
  --color-b2: #FFE883;
  --shadow-s1: 0px 4px 15px 0px #FFFFFF;
  --shadow-s2: 0px 4px 25px 0px #F9D849;
  --shadow-s3: 0px 4px 25px 0px #FF0000;
}

body {
  background-color: #000000;
  height: 100vh;
}

.scale{
  animation: grow 1.3s ease-in-out;
}

@keyframes grow {
  0% { transform: scale(0.2);}
  50% { transform: scale(1.05);}
  100% { transform: scale(1);}
}
